.idea
09_Calculator/coverage
*.lock
14_Events/coverage
14_Events/dist
14_Events/node_modules
13_App_Get_Visa/coverage
13_App_Get_Visa/dist
09_Calculator/dist
09_Calculator/node_modules
1_month/04_Randomizer/dist
1_month/04_Randomizer/node_modules
10_Collections/coverage
10_Collections/public/fonts
11_Canvas/Circles/coverage
11_Canvas/Circles/dist
11_Canvas/Circles/node_modules
11_Canvas/Painter/coverage
11_Canvas/Painter/dist
11_Canvas/Painter/node_modules
12_DB/coverage
12_DB/db
12_DB/node_modules
13_App_Get_Visa/node_modules
